body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}



.box {
    border: 5px solid white;
    color: white;
}